<mat-card id="authenticator-content">
  <mat-card-header>
    <mat-card-title>{{getStateText()}}</mat-card-title>
  </mat-card-header>

  <!--REGISTER FORM START-->
  <div *ngIf="isRegisterState()">

    <form [formGroup]="reactionform">
      <div class="form-group">
        <input class="form-control" formControlName="regname" placeholder="Name">
        <span *ngIf="f['regname'].touched">
          <span *ngIf="f['regname'].getError('required')!=null" class="errormessage">
            Name is required</span>
          <span *ngIf="f['regname'].getError('minlength')!=null" class="errormessage">
            Name must be at least 3 letters
          </span>
        </span>
      </div>
      <div class="form-group">
        <input class="form-control" formControlName="regemail" placeholder="Email" />
        <span *ngIf="f['regemail'].touched">
          <span *ngIf="f['regemail'].getError('required')!=null" class="errormessage">
            Email is required</span>
          <span *ngIf="f['regemail'].getError('email')!=null" class="errormessage">
            Email must be a valid email address
          </span>
        </span>
      </div>

      <div class="form-group">
        <input class="form-control" formControlName="regpassword" type="password" placeholder="Password" />
        <span *ngIf="f['regpassword'].touched">
          <span *ngIf="f['regpassword'].getError('required')!=null" class="errormessage">
            Password is required</span>
          <span *ngIf="f['regpassword'].getError('minlength')!=null" class="errormessage">
            Password must be at least 6 characters
          </span>
        </span>
      </div>
      <div class="form-group">
        <input class="form-control" formControlName="regconpassword" type="password" placeholder="Confirm Password" />
        <span *ngIf="f['regconpassword'].touched">
          <span *ngIf="f['regconpassword'].getError('required')!=null" class="errormessage">
            Password is required</span>
          <span *ngIf="f['regconpassword'].getError('Pwdmustmatch')!=null" class="errormessage">
            Password mismatched
          </span>
        </span>
      </div>

      <div class="form-group">
        <button [disabled]="reactionform.invalid" (click)="onRegSubmit(reactionform.value)" mat-flat-button
          color="warn">Sign Up</button>
      </div>
    </form>
    <br>
    <span class="alert alert-warning" *ngIf="isSignUpFailed">
      Signup failed! Try Again!
      {{ errorMessage }}
    </span>
    <span class="alert alert-success alert-dismissible" role="alert" *ngIf="isSuccessful">
      Your registration is successful! Please Log In
    </span>
  </div>
  <!--REGISTER FORM END-->
  <!--LOGIN FORM START -->
  <div *ngIf="isLoginState()">

    <form [formGroup]="reactionform">
      <div class="form-group">
        <input class="form-control" formControlName="loginemail" placeholder="Email" />
        <span *ngIf="f['loginemail'].touched">
          <span *ngIf="f['loginemail'].getError('required')!=null" class="errormessage">
            Email is required</span>
        </span>
      </div>

      <div class="form-group">
        <input class="form-control" formControlName="loginpassword" type="password" placeholder="Password" />
        <span *ngIf="f['loginpassword'].touched">
          <span *ngIf="f['loginpassword'].getError('required')!=null" class="errormessage">
            Password is required</span>
        </span>
      </div>
      <div class="form-group">
        <button [disabled]="reactionform.invalid" (click)="onLoginSubmit(reactionform.value)" mat-flat-button
          color="warn">Log In</button>
      </div>
    </form>
    <br>
    <span *ngIf="isLoginFailed" class="alert alert-danger  alert-dismissible" role="alert">
      Login failed: Incorrect Email/Password, try again!
    </span>

  </div>
  <!--LOGIN FORM END-->
  <!-- FORGOT PWD FORM START -->
  <div *ngIf="isForgotPasswordState()">

    <form [formGroup]="reactionform">
      <div class="form-group">
        <input class="form-control" formControlName="forgotresetpwdemail" placeholder="Email" />
        <span *ngIf="f['forgotresetpwdemail'].touched">
          <span *ngIf="f['forgotresetpwdemail'].getError('required')!=null" class="errormessage">
            Email is required</span>
          <span *ngIf="f['forgotresetpwdemail'].getError('email')!=null" class="errormessage">
            Email must be a valid email address
          </span>
        </span>
      </div>
      <div class="form-group">
        <button [disabled]="reactionform.invalid" (click)="onForgotSubmit(reactionform.value)" mat-flat-button
          color="warn">Request Reset</button>
      </div>
    </form>
    <br>
    <span class="alert alert-success alert-dismissible" role="alert" *ngIf="forgotresetpwdemailSubmit">
      You will receive an email if you have an account with us.
    </span>
  </div>
  <!-- FORGOT PWD FORM END -->
  <!-- RESET PWD FORM START-->
  <div *ngIf="isResetPasswordState()">

    <form [formGroup]="reactionform">
      <div class="form-group">
        <input class="form-control" formControlName="resetpwdtoken" placeholder="Reset password token" />
        <span *ngIf="f['resetpwdtoken'].touched">
          <span *ngIf="f['resetpwdtoken'].getError('required')!=null" class="errormessage">
            Reset password token is required</span>
        </span>
      </div>
      <div class="form-group">
        <input class="form-control" formControlName="resetpwdnewpwd" type="password" placeholder="New Password" />
        <span *ngIf="f['resetpwdnewpwd'].touched">
          <span *ngIf="f['resetpwdnewpwd'].getError('required')!=null" class="errormessage">
            Password is required</span>
          <span *ngIf="f['resetpwdnewpwd'].getError('minlength')!=null" class="errormessage">
            Password must be at least 6 characters
          </span>
        </span>
      </div>
      <div class="form-group">
        <input class="form-control" formControlName="resetpwdconnewpwd" type="password" placeholder="Confirm New Password" />
        <span *ngIf="f['resetpwdconnewpwd'].touched">
          <span *ngIf="f['resetpwdconnewpwd'].getError('required')!=null" class="errormessage">
            Password is required</span>
          <span *ngIf="f['resetpwdconnewpwd'].getError('Pwdmustmatch')!=null" class="errormessage">
            Password mismatched
          </span>
        </span>
      </div>

      <div class="form-group">
        <button [disabled]="reactionform.invalid" (click)="onResetSubmit(reactionform.value)" mat-flat-button
          color="warn">Reset</button>
      </div>
    </form>
    <br>
    <span class="alert alert-warning" role="alert" *ngIf="isresetFail && resetpwdtokenSubmit">
      {{ errorMessage }}
    </span>
    <span class="alert alert-success alert-dismissible" role="alert" *ngIf="!isresetFail && resetpwdtokenSubmit">
      Reset password is successful! Please Log In
    </span>
  </div>
  <!--RESET PWD FORM END-->


  <mat-card-actions align="end">
    <button mat-flat-button (click)="onForgotPasswordClick()">Forgot Password</button>
    <button mat-flat-button (click)="onResetPasswordClick()">Reset Password</button>
    <button mat-flat-button (click)="onCreateAccountClick()">Create an Account</button>
    <button mat-flat-button (click)="onLoginClick()">Login</button>
  </mat-card-actions>
  <mat-card>