<div id="adminboard">
    
    <div id="adminboard-sub">
           
        <div class="col-md-6 offset-md-3">
            <h1> <b>Update User</b> </h1>
            <form (ngSubmit) = "onUpdateSubmit()">
            
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class ="form-control" id = "firstName"
                        [(ngModel)] = "user.name" name = "name">
                </div>
                <br>
                <button class = "btn btn-success" type ="submit">Submit</button>
            
            </form>
            </div> 


        </div>
        
</div>
    
    