<div class ="sticky-top"id="nav-bar">
  <div id="nav-bar-content">

    <div id="nav-bar-left">
      <div style="font-size: 25px;" class="nav-bar-items-left" routerLink="home/postfeed"  >ED SMAP</div>
      <div *ngIf="showPostfeed" style="font-size: 18px;"class="nav-bar-items-left" routerLink="home/postfeed" >Post-Feed</div>
      <div *ngIf="showAdminBoard" style="font-size: 18px;"class="nav-bar-items-left" routerLink="home/adminboard" >Admin-Dashboard</div>
    </div>

    <div id="nav-bar-right">
      <div style="margin-right:100px" *ngIf="isLoggedIn" style="font-size: 15px;" class="nav-bar-items-right-name" > Welcome Back! {{this.name}}</div>
      <div *ngIf="!isLoggedIn" (click)="onLoginClick()" style="font-size: 20px;"class="nav-bar-items-right" >Log In</div>
      <div *ngIf="isLoggedIn"(click)="onLogoutnavClick()" style="font-size: 20px;" class="nav-bar-items-right" > Logout </div>
      
    </div>


  </div>
</div>


<router-outlet></router-outlet>
