#nav-bar {
    /* opacity: 0.95; */
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:50px;
    background-color: lightslategray;
    border-radius: 5px;
}

#nav-bar-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    
}

#nav-bar-left, #nav-bar-right {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
}


#nav-bar-right {
    justify-content: flex-end;
 }

.nav-bar-items-right {
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    padding-left: 50px;
}

.nav-bar-items-right-name {
    font-size: 1em;
    display: inline-block;
}

.nav-bar-items-left {
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    padding-right: 10px;
}