<div id="home-page">
    <div id="home-page-sub">
        <div id="left">
            <div id="left-content">
                <h1>ED Social Media App Platform</h1>
                <p>Join Today</p>
                <button (click)="onGetStartedClick()" mat-flat-button color="warn">Get Started</button>
            </div>
        </div>
    </div>
</div>