#home-page{
    width:100%;
    height:100%;
}

#home-page-sub{
    width:100%;
    height:100%;
    background-image: url("src/assets/homepage.jpg");
    background-size: cover;
    background-position:center;
    min-height:600px;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
}

#left{
    display:flex;
    justify-content: center;
    align-items: center;
}

#left-content{
    text-align:right;
    padding:20px 20px 40px;
    
}

#left-content h1{
    font-size:41px;
}

#left-content p{
    font-size:18px;
}

#left-content button{
    font-size:25px;
    padding:10px;
}