<mat-card id="createpost-matcard">
    <mat-card-header class="dialog-title">
        <mat-card-title>Create Post</mat-card-title>
        <button (click)="createpostdismissBtn()" style="float:right" mat-mini-fab color="warn" mat-flat-button
            class="close-icon">
            <mat-icon>close</mat-icon>
        </button>
    </mat-card-header>

    <table>
        <tr>
            <td>
                <mat-form-field appearance="fill" class="posttype">
                    <mat-label>Type </mat-label>
                   
                    <mat-select [value] = "createpostTypeval"  [(ngModel)]="createpostTypeval">   <!-- [(ngModel)]="createpostTypeval" [(ngModel)]="post.contenttype"> -->
                        <mat-option *ngFor="let type of createpostType" [value]="type.value">
                            {{type.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        
        <tr *ngIf="createpostTypeval === 'link'" >
            {{setisLink(true)}}
            <td>
                <mat-form-field appearance="fill" class="link">
                    <mat-label>URL <br />Do use an URL shorterner if URL exceeds the length </mat-label> 
                    <br>
                    <textarea maxlength="2048"  [(ngModel)]="post.link" matInput></textarea>
                    <p>{{post.link.length}}/2048</p>
                </mat-form-field>
            </td>
        </tr>
        <tr *ngIf="createpostTypeval === 'media';">
            {{setisLink(false)}}
            <td>
                <label class="btn btn-outline-primary">
                    <input accept="image/*,video/*"#fileInput type="file" (change)="this.onFilechange($event) ">
                </label>
                
                
            </td>
            
        </tr>
        <br>
        <tr *ngIf=" (format ==='image'|| format ==='video') &&  createpostTypeval == 'media'">
            <img [src]="url" *ngIf="format==='image' && url"  max-width="300" height="200"> <br/>
            <video [src]="url" *ngIf="format==='video' && url"  height="200" controls></video> <br/>
        </tr>
        <tr>
            <td>
                <mat-form-field  appearance="fill" class="caption">
                    <mat-label>Caption</mat-label>
                    <textarea style="height:100px" maxlength="250" [(ngModel)] = "post.caption" matInput placeholder="Ex. It makes me feel..."></textarea>
                    <p>{{post.caption.length}}/250</p>
                </mat-form-field>
               
            </td>
        </tr>   
        <button mat-flat-button id="dismissBtn" (click)="createpostdismissBtn()" color="warn">Dismiss</button>
        <button mat-flat-button *ngIf="!isLink"  id="postBtn" (click)="createpostMediaSubmitBtn(null)"color="primary">Post</button>
        <button mat-flat-button *ngIf="isLink" id="postBtn" (click)="createpostLinkSubmitBtn(null)"color="primary">Post</button>
       
    </table>
</mat-card>