  /* #createpost-matcard{
    width:1000px; 
    min-height:110px;
}   */

  .caption {
    width: 600px;
    font-size: medium;
  }

  .link {
    width: 400px;
  }

  .dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #dismissBtn,
  #postBtn {
    margin-left: 10px;
    float: right;
  }

  img {
    max-width: 500px;

  }
