<mat-card>
    <mat-card-header class="dialog-title">
        <mat-card-title>Edit Post Caption</mat-card-title>
    </mat-card-header>

    <table>
        <tr>
            <td>
                <mat-form-field appearance="fill" class="caption">
                    <mat-label>Caption </mat-label>
                    <textarea style="height:100px" maxlength="250" [(ngModel)] = "post.caption" matInput>{{post.caption}</textarea>
                    <p>{{post.caption.length}}/250</p>
                </mat-form-field>
            </td>
        </tr>

        <button mat-flat-button id="editSubmitBtn" (click)="editSubmitBtn()" color="primary">Edit</button> 
        <button mat-flat-button id="dismissBtn" (click)="dismissBtn()"  color="warn">Dismiss</button>
        
    </table>
</mat-card>