#adminboard{
    position:relative;
    width:100%;
    height:100%;
    background-image: url("src/assets/loggedin_background.png");
    background-size: cover;
    background-position:center;
    min-height:600px;
}

#adminboard-sub{
    width:100%;
    height:100%;
    padding:80px 100px;
}

