<div id="adminboard">
    
<div id="adminboard-sub">
       
    <h2 style="text-align: center;"> Users List</h2>
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Created Date</th>
                <th>Last Modified Date</th>
                <th>Last Modified By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-light">
            <tr *ngFor ="let user of users" >
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.roles}}</td>
                <td>{{user.createdDate}}</td>
                <td>{{user.lastModifiedDate}}</td>
                <td>{{user.lastModifiedBy}}</td>
                <td>
                    <button  style="margin-right:20px" (click)="updateUser(user.id)" mat-flat-button color="primary">Update</button>
                    <button  *ngIf="user.email!==currentemail"   mat-mini-fab color="warn" (click)="deleteUserbtn(user.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                </td>
            </tr>

        </tbody>

    </table>



    </div>
    
</div>






