#postfeed{
    position:fixed; /*relative*/
    width:100%;
    height:100%;
    background-image: url("src/assets/loggedin_background.png");
    background-size: cover;
    background-position:center;
    min-height:600px;
    overflow-y:scroll;
    overflow-x:hidden;
}

#postfeed-sub{
    width:100%;
    height:100%;
   
}

#post-button{
    position:fixed;
    bottom:25px;
    right:525px;
    
}

#postdisplay{
    padding-top: 80px;
    max-width:500px;
    margin-left:auto;
    margin-right:auto;
    
}


