<div id="postfeed">
    <div id="postdisplay">
        <app-displaypost></app-displaypost>
        </div>
   
        <button (click)="onCreatePostClick()" mat-fab color="warn" id="post-button"><mat-icon>add</mat-icon></button> 
    
        
</div>
    