.action-item{
    margin-left: 12px;
    cursor: pointer;
}

.pagi ::ng-deep .ngx-pagination .current {

    background: red;
    font-size: larger;
    
    
    
  }

  .pagi ::ng-deep .ngx-pagination {
    padding: 0;
    text-align: center;
  }
  .pagi ::ng-deep .ngx-pagination li {
    border:1.5px solid
}

  #container {
    position:relative;
  }
  
  #playVideo {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    border-radius: 100px 
   
  }

  mat-card { margin-bottom: 10px;}
  
  

  
  
 