<div>
    <mat-card style=" word-break: break-all; 
   " *ngFor="let post of posts | paginate 
 :{
     itemsPerPage: itemsPerPage,
     currentPage: page
   }">
        <div>
            <mat-card-header>
                <mat-card-title>Posted By: {{post.user.name}}</mat-card-title>
                <mat-card-subtitle>Time: {{parseDate(post.createdDate,post)}}</mat-card-subtitle>
            </mat-card-header>

            <img style="cursor: pointer;" (click)="clickImagePost(post.id,post,post.files.id)"
                *ngIf="post.contenttype=='media' && post.files.filetype.includes('image')" mat-card-image
                src="http://localhost:8080/api/files/downloadfile/{{post.files.id}}">
            <div id="container" style="cursor: pointer;" (click)="clickMediaPost(post.id,post,post.files.id)"
                *ngIf="post.contenttype=='media' && post.files.filetype.includes('video')">
                <video id="playVid" mat-card-image width="320" height="240 ">
                    <source src="http://localhost:8080/api/files/downloadfile/{{post.files.id}}">
                </video>
                <button mat-raised-button color="warn" id="playVideo">
                    <mat-icon>play_arrow</mat-icon>
                </button>
            </div>
            <a style="text-align: center; font-size: large;" (click)="clickLinkPost(post.id,post)" *ngIf="post.contenttype=='link' && post.link.startsWith('http')"
                href="{{post.link}}" target="_blank">{{post.link}}</a>
            <a style="text-align: center; font-size: large;" (click)="clickLinkPost(post.id,post)" *ngIf="post.contenttype=='link' && post.link.startsWith('www')"
                href="//{{post.link}}" target="_blank">{{post.link}}</a>
        </div>
        <mat-card-content style=" font-size: large;text-align: center;">
            {{post.caption}}
        </mat-card-content>





        <mat-card-actions style="display:flex; justify-content: flex-end">
            <mat-card-subtitle>views: {{post.viewcount}}</mat-card-subtitle>

            <mat-icon *ngIf="post.user.name === currentUser || isAdmin()" (click)="editpostBtn(post.id,post.caption,post)"
                class="action-item" color="warn">edit</mat-icon>
            <mat-icon *ngIf="post.user.name === currentUser || isAdmin()" (click)="deletepost(post.id)"
                class="action-item" color="warn">delete_forever</mat-icon>
        </mat-card-actions>
    </mat-card>
    <br>
    <pagination-controls class="pagi" (pageChange)="page = $event"></pagination-controls>
    <br><br><br>
   
</div>